IDI_ICON1 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,4
PRODUCTVERSION 1,0,0,4
FILEOS 0x4
FILETYPE 0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName", "Voltura AB"
      VALUE "FileDescription", "QuickFolders"
      VALUE "FileVersion", "1.0.0.4"
      VALUE "InternalName", "QuickFolders.exe"
      VALUE "OriginalFilename", "QuickFolders.exe"
      VALUE "ProductName", "QuickFolders"
      VALUE "ProductVersion", "1.0.0.4"
      VALUE "LegalCopyright", "© 2025 Voltura AB"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
